<launch>

	<group ns="sim1">
		<node name="turtle1" pkg="turtlesim" type="turtlesim_node" output="screen" />
		<node name="turtle2" pkg="rosservice" type="rosservice" args="call --wait /spawn 1 1 1 my_turtle" output="screen" />
		<node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen" />
	</group>
		
	<group ns="sim2">
		<node name="turtle1" pkg="turtlesim" type="turtlesim_node" output="screen" />
		<node name="turtle2" pkg="rosservice" type="rosservice" args="call --wait /spawn 1 1 1 my_turtle" output="screen" />
		<node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen" />
	</group>

</launch>
